@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/aura-light-indigo/theme.css" not
  (prefers-color-scheme: dark);
@import "primeng/resources/themes/aura-dark-indigo/theme.css"
  (prefers-color-scheme: dark);
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  --base-x-padding-margin: 1.5rem;
  --base-top-padding-margin: 3rem; // needed to clear status bar on mobile
}

body {
  margin-left: var(--base-x-padding-margin);
  margin-right: var(--base-x-padding-margin);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4rem;
}

.mt-page-content {
  margin-top: calc(var(--base-top-padding-margin) + 4.5rem);
}

.p-button-label {
  font-weight: 600 !important;
}

.p-toast {
  width: calc(100vw - 2 * var(--base-x-padding-margin));
  top: var(--base-top-padding-margin);
}

.p-colorpicker-panel .p-colorpicker-color {
  background: transparent url("assets/img/custom-color.png") no-repeat left top;
}

.p-colorpicker-panel .p-colorpicker-hue {
  background: transparent url("assets/img/custom-hue.png") no-repeat left top !important;
}

.p-confirm-dialog-message {
  margin-left: 0;
}
